<ng-select class="m-5" 
[items]="defaultBindingsList"
[closeOnSelect]="true"
[searchable]="true"
[clearable]="false"
placeholder="Dimension"
[(ngModel)]="selectedDimension"
(change)="onChangeDimension($event)"></ng-select>
<ng-select class="m-5"
[items]="mesesList"
[closeOnSelect]="true"
[searchable]="true"
[clearable]="false"
placeholder="Mes"
[multiple]="true"
[(ngModel)]="selectedMeses"
(change)="onChangeMeses($event)"></ng-select>
<ng-select class="m-5" 
[items]="aniosList"
[closeOnSelect]="true"
[searchable]="true"
[clearable]="false"
placeholder="Año"
[multiple]="true"
[(ngModel)]="selectedAnios"
(change)="onChangeAnios($event)"></ng-select> 
<ng-select class="m-5" 
[items]="nombresList"
[closeOnSelect]="true"
[searchable]="true"
[clearable]="false"
placeholder="Clientes"
[multiple]="true"
(ngModel)]="selectedCustomer"
(change)="onChangeCustomer($event)"></ng-select> 
<app-bar-chart 
[barChartLabels]="dataAnios"
[barChartData]="dataChartTable">
</app-bar-chart> 